// body {
//   color: getColor('primary-text');
//   background-color: getColor('white');
//   font-family: inherit;
// }

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: aquamarine;
}

.pagination-wrapper {
  display: flex;
  flex-direction: row;
}

// .title {
//   color: getColor('title-text');

//   @include font(24px, 30px, null, 700);

//   @include mq($width-tablet) {
//     @include font(36px, 45px);
//   }

//   @include mq($width-desktop) {
//     @include font(48px, 60px);
//   }
// }

//  display: grid;
//   max-width: 1200px;
//   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
//   grid-auto-rows: 240px;
//   grid-gap: 20px;
//   justify-content: center;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 30px 0;
