<div class="film__item">
  <a class="film__link" href="large-image.jpg">
    <img
      class="film__image"
      src="small-image.jpg"
      data-source="large-image.jpg"
      alt="Image description"
    />
    <div>
      <h1 class="film__name">Назва фільму</h1>
      <p class="film__genre">Жанри фільму<span>рік випуску</span></p>
      <svg class="film__rating">
        <use href="./img/icons.svg#icon">рейтинг</use>
      </svg>
    </div>
  </a>
</div>

<!-- <iframe
  id="vimeo-player"
  src="https://player.vimeo.com/video/236203659"
  width="640"
  height="360"
  frameborder="0"
  allowfullscreen
  allow="autoplay; encrypted-media"
></iframe> -->
