<section class="main-gallery" id="gallery">
  <div class="container">
    <ul class="gallery">
      <li class="gallery__item">
        <a href="" class="film__link">
          <img
            class="film__image"
            src="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
            alt="Image description"
          />
          <div class="film-info">
            <h1 class="film__name">Назва фільму</h1>
            <p class="film__genre">
              Жанри фільму<span class="film__release">Рік випуску</span>
            </p>
            <div class="film__rating-icon">
              <span>номер currentpage</span>
            </div>
            <!-- <svg class="film__rating-icon">
          <use href="./img/icons.svg#icon">рейтинг</use>
        </svg> -->
          </div>
        </a>
      </li>
      <li class="gallery__item">
        <a
          href="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
          class="film__link"
        >
          <img
            class="film__image"
            src="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
            alt="Image description"
          />
          <div class="film-info">
            <h1 class="film__name">Назва фільму</h1>
            <p class="film__genre">
              Жанри фільму<span class="film__release">Рік випуску</span>
            </p>
            <div class="film__rating-icon">
              <span>номер currentpage</span>
            </div>
            <!-- <svg class="film__rating-icon">
          <use href="./img/icons.svg#icon">рейтинг</use>
        </svg> -->
          </div>
        </a>
      </li>
      <li class="gallery__item">
        <a
          href="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
          class="film__link"
        >
          <img
            class="film__image"
            src="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
            alt="Image description"
          />
          <div class="film-info">
            <h1 class="film__name">Назва фільму</h1>
            <p class="film__genre">
              Жанри фільму<span class="film__release">Рік випуску</span>
            </p>
            <div class="film__rating-icon">
              <span>номер currentpage</span>
            </div>
            <!-- <svg class="film__rating-icon">
          <use href="./img/icons.svg#icon">рейтинг</use>
        </svg> -->
          </div>
        </a>
      </li>
      <li class="gallery__item">
        <a
          href="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
          class="film__link"
        >
          <img
            class="film__image"
            src="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
            alt="Image description"
          />
          <div class="film-info">
            <h1 class="film__name">Назва фільму</h1>
            <p class="film__genre">
              Жанри фільму<span class="film__release">Рік випуску</span>
            </p>
            <div class="film__rating-icon">
              <span>номер currentpage</span>
            </div>
            <!-- <svg class="film__rating-icon">
          <use href="./img/icons.svg#icon">рейтинг</use>
        </svg> -->
          </div>
        </a>
      </li>
      <li class="gallery__item">
        <a
          href="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
          class="film__link"
        >
          <img
            class="film__image"
            src="/src/images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
            alt="Image description"
          />
          <div class="film-info">
            <h1 class="film__name">Назва фільму</h1>
            <p class="film__genre">
              Жанри фільму<span class="film__release">Рік випуску</span>
            </p>
            <div class="film__rating-icon">
              <span>номер currentpage</span>
            </div>
            <!-- <svg class="film__rating-icon">
          <use href="./img/icons.svg#icon">рейтинг</use>
        </svg> -->
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- `
<div class="galery__card">
  <a class="gallery__link" href="${largeImageURL}">
    <img
      class="gallery__image"
      src="${webformatURL}"
      alt="${tags}"
      title="${tags}"
      loading="lazy"
    />
    <div class="info">
      <p class="info__item"><b class="info__item-name">Likes</b>${likes}</p>
      <p class="info__item"><b class="info__item-name">Views</b>${views}</p>
      <p class="info__item">
        <b class="info__item-name">Comments</b>${comments}
      </p>
      <p class="info__item">
        <b class="info__item-name">Downloads</b>${downloads}
      </p>
    </div>
  </a>
</div>
`; -->
